*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
}

.container{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.textcontainer{
    height: 15rem;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.text{
    /* position: absolute; */
    font-size: 7rem;
}