*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: fontspring;
    src: url(../font/Fontspring-DEMO-proximanovacond-medium.otf);
}

body{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    font-family: fontspring;
}

.container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.name{
    font-size: 5vw;
    line-height: 0.8;
    text-align: center;
    height: 4vw;
    overflow: hidden;           
}

/* The over flow inside the name class will hide all of the elements that
   are positioned outside of the height defined by the name class.
   That's why, when we animate it by translating the y value by 100% it 
   appears like it is disappearing. */